<div class="user-info">
    <img src="https://pluspng.com/img-png/png-user-icon-circled-user-icon-2240.png" alt="User Logo" width="120px" height="120px" style="padding: 10px" />
    <span>@ViewBag.Title XXX</span>
    <br />
    <a style="margin: 15px 40%;" class="btn btn-danger" href="@Url.Action("index", "ASM")" role="button">Logout</a>
</div>

