
@{
    ViewBag.Title = "Index";
}

<br>
<br />
<center>
    <a class="btn btn-danger" href="#">View Course </a>
    <br>
    <br>
    <a class="btn btn-outline-secondary">Change Profile Information </a>
    <br>
    <br>
    <a class="btn btn-outline-info">Change Password</a>
</center>



