
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Trainee/_LayoutPageForTrainee.cshtml";
}
<br>
<br />
<center>
    <a class="btn btn-danger" href="#">View Course </a>
    <br>
    <br>
    <a class="btn btn-dark">Change Password Account </a>
    <br>
    <br>
    <a class="btn btn-outline-info">View Your Courses</a>
</center>



